<div class="conteiner">
    <div class="row">
      <h1>Educacion</h1>
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <ul>
          <li>
            <h2>Estudio 1</h2>
            -
            <h3>(years)</h3>
          </li>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
            voluptates obcaecati repudiandae enim. Reprehenderit odio expedita
            quo, est adipisci similique voluptatibus beatae. Impedit aut molestiae
            porro corporis maxime atque laboriosam.
          </p>
          <li>
              <h2>Estudio 2</h2>
              -
              <h3>(years)</h3>
            </li>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
              voluptates obcaecati repudiandae enim. Reprehenderit odio expedita
              quo, est adipisci similique voluptatibus beatae. Impedit aut molestiae
              porro corporis maxime atque laboriosam.
            </p>
  
  
        </ul>
      </div>
    </div>
  </div>
  