.conteiner{
    box-shadow: 2px -2px 5px black;
    width: 80%;
    margin: 0 auto;
}
.row{
    padding: 25px;
    background-color: #D44E62
}
.block{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;

}
.img-proyecto{
    width: 200px;
    height: 200px ;
    box-shadow: 10px 10px 30px black;
}