<div class="conteiner">
  <div class="row">
    <h1>Proyectos realizados</h1>
    <div class="block">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Proyecto 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, dolor
          blanditiis! Modi, minima! Quam facilis assumenda sed, odio ipsum error
          culpa exercitationem eos. Non, autem. Ratione ab quos consequuntur
          eaque!
        </p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/proyectos.png" class="img-fluid img-proyecto" alt="proyecto">
      </div>
    </div>
  </div>
</div>
