.conteiner{
    background-color: #6379D4;
    box-shadow: 2px -2px 5px black;
    width: 80%;
    margin: 0 auto;
    
}
footer{
    color:azure;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;

}