.conteiner{
    background-color: rgb(10, 59, 43);
}
footer{
    color:azure;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(184, 130, 130);
}