<div class="conteiner">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        src="../../../assets/perfil.png"
        class="img-fluid"
        id="foto-perfil"
        alt="foto-perfil"
      />
      <p id="nombre">Lautaro Decima</p>
      <p id="puesto">Desarrollador de Software</p>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <span >
        <h1>Acerca de mi</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora,
          exercitationem quia dolorem nostrum delectus, expedita laboriosam quod
          reprehenderit doloribus similique quam. Libero odio optio iure
          mollitia animi vero qui voluptas?
        </p>
      </span>
    </div>
  </div>
</div>
